* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Heebo;
    font-weight: 500;
}


.reg-font {
    font-weight: 400
}

.bold-font {
    font-weight: 600
}

h1 {
    margin-top: 3rem;
    color: #1665D8;
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
    margin-top: 0;
    color: #3E3F42;
}

.container {
  max-width:1080px;
  margin:0 auto;
  padding:0 20px;
  position:relative;
}

ul {
    list-style-type: none;
}
#nav-bar {
    border-bottom: .1875rem solid #D7DEE4;
    padding-left: 0;
    padding-bottom: .5rem;
    margin-right: 10.5rem;
    margin-top: 2.9375rem;
}

#nav-bar li {
    display: inline;
    margin-right: 2.5625rem;
    font-size: 1rem;
    padding-bottom: .5rem;
}

.active {
    border-bottom: .1875rem solid #27D381;
}

.inactive {
    color: #A7ABAF;
}

#howto {
    margin-top: 2rem;
    height: 7.875rem;
    width: 33.75rem;
    background-color: #F9FAFB;
    border-radius: .5rem;
    padding-left: 1.8125rem;
}

#howto h3 {
    padding-top: 1.6125rem;

}
#howto p {
    padding-bottom: 1.5625rem;
    padding-right: 3.3125rem;
}

#credit-report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
}

#target-score {
    width: 33.6875rem;
}

#target-score h2 {
    margin-left: 0;
    color: #07025b;
}

.input-button-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.score-input {
    width: calc(100% - 11.875rem - 1.125rem);
    height: 3.125rem;
    border-radius: .25rem;
    border: .0625rem solid #D7DEE4;
    font-size: 1.5rem;
    padding-left: .875rem;
}

button {
    width: 11.875rem;
    height: 3.125rem;
    background-color: #27D381;
    border-radius: .3125rem;
    border-width: 0;
    color: #FFF;
    font-size: 1rem;
    margin-left: 1.125rem;
}

.bar-marker-stubs {
    width: 100%;
}

.score-bar {
    width: 100%;
    height: .875rem;
    display: inline-flex; 
    margin-top: 1.75rem;
}

.bad {
    background-color: #F53758;
    width: 37.1%;
    height: 100%;
    border-radius: 3px 0 0 3px;
}

.fair {

    width: 35.3%;
    height: 100%;
    background-color: #F1C531;
}

.good {
    background-color: #27D381;
    width: 27.6%;
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.marker {
    position: absolute;
    border-radius: 50%;
    border: 4px solid #FFF;
    background-color: #F1C531;
    top: 460px;
    left: 350px;
    width: 22px;
    height: 22px;
    box-shadow: 0 1px 4px 0
}

.score-bar-stubs {
    display: flex;
    justify-content: space-between;
    margin-top: .3125rem;
}

.stub {
    flex: 0 0 25px;
    text-align: right;
}

.stub.stub-1 {
    text-align: left;
    flex: 0 0 22%;
}

.stub.stub-5 {
    flex: 0 0 12%;
}

#credit-scores {
    padding-right: 2rem;
    width: 26.375rem;
}

#credit-scores h2 {
    color: #07025b;
}

.bureaus {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.bureaus div {
    border-bottom: 1px solid #EBEBEB;
    width: 7.5rem;
    padding-bottom: 1.5625rem;
}

.equifax img {
    width: 5.3125rem;
    height: 1.4375rem;
}

.experian img {
    width: 5.3125rem;
    height: 1.4375rem;
}

.scores {
    display: flex;
    justify-content: space-between;
    margin-top: .9375rem;
}

.scores div {
    font-size: 2.75rem;
    font-weight: 650;
}

.equifax-score {
    padding-right: 2.5rem;
    padding-left: 2rem;
}

.experian-score {
    padding-right: 2.5rem;
}

.recommendations {
    border: 1px solid #D7DEE4;
    border-radius: 6px;
    width: 100%;
    height: 33.25rem;
    margin-right: 2.0625rem;
    margin-top: 2.375rem;
    display: flex;
    flex-direction: column;
    align-content: space-between
}

.actions-impact {
    margin-top: 2.125rem;
    display: flex;
    justify-content: space-between;
}

.actions {
    width: 56.5%;
    margin-left: 1.875rem;
}

.actions h2 {
    color: #07025b;
}

.actions p {
    margin-top: 1.5625rem;
    width: 33.125rem;
}

.impact {
    width: 43.5%;
}

.impact h2 {
    color:#07025b;
    margin-bottom: .9375rem;
}

.score-changes {
    display: flex;
    justify-content: space-around;
}

.score-changes div {
    color: #07025b;
    font-weight: 650;
    font-size: 2.75rem;
}
.score-change-1, .score-change-2, .score-change-3 {
    display: flex;
    flex-direction: row;
}

.credit-table {
    margin-top: 2.5rem;
}

.table-headers {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #6B6C6F;
}

.table-headers h6 {
    color: #07025b;
    font-size: 1rem;
}

.table-rows {
    border: 1px solid #85A2CF;
}
.table-row {
    display: flex;
    align-items: center;
    background-color: #F5FAFF;
    border-bottom: 1px solid #85A2CF;
    padding: 1.45rem 0;
}

.action-tr {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #1665D8;
}

.action-tr-align {
    width: 32%;
    padding-left: 1.875rem;
}

.action-tr span {
    margin-right: .82125rem;
}

.account-tr-align {
    width: 30%;
}

.score-tr-align {
    display: flex;
    width: 38%;
}

.score-tr-align .score-data-align {
    width: 33.33%;
}

.change-arrow {
    margin-right: .625rem;
}

.score-changes div sup {
    font-size: 14px;
}

.credit-change-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-left: .5rem;
}

#important {
    margin-top: 2.3125rem;
}

#disclaimer {
    margin-left: 2rem;
}

@media screen and (min-width: 641px) {
    .d-hidden {
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .container {
        max-width: 375px;
        margin-left: 1.25rem;
    }

    h1 {
        font-size: 1.375rem;
    }
    h1+h2 {
        width: 20.9375rem;
        font-size: .875rem;
    }

    #nav-bar {
        width: 20.9375rem;
        margin-right: 1.125rem;
        margin-top: 2.5rem;
    }

    #howto {
        width: 21.25rem;
        font-size: .875rem;
    }

    #howto h3 {
        font-size: 1rem;
    }

    #credit-report {
        flex-direction: column-reverse;
    }

    #target-score {
        margin-top: 2.4375rem;
        width: 100%;
    }

    .score-input {
        order: 0;
        width: 100%;
    }

    button {
        order: 2;
        width: 100%;
        margin: 0;
    }

    .bar-marker-stubs {
        order: 1;
        padding-bottom: 2rem;
    }
    .marker {
        top: 695px;
        border-radius: 6px;
        width: .9375rem;
        height: 1.375rem;
        left: 210px;
    }

    #credit-scores {
        margin-top: 1.875rem;
    }

    .bureaus {
        margin-top: 1rem;
    }

    .scores {
        margin-top: .5625rem;
    }

    .recommendations {
        height: auto;
        border: none;
    }

    .actions-impact {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .actions {
        width: 100%;
        margin: 0;
    }

    .actions h2 {
        font-size: 18px;
    }

    .actions p {
        width: 100%;
        font-size: 14px;
    }

    .impact {
        width: 100%;
        flex-direction: column;
        margin-bottom: 2.1875rem;
    }

    .impact h2 {
        font-size: 1.125rem;
    }

    .score-changes {
        border: 1px solid #D7DEE4;
        border-radius: 6px;
        display: flex; 
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: auto;
    }
    
    .score-changes div {
        font-size: 2.25rem;
    }

    .score-changes div sup {
        font-size: 12px;
    }

    .score-changes .d-hidden {
        font-size: 14px;
    }

    .credit-change-wrapper {
        padding-right: 1.5rem;
    }

    .credit-change-wrapper img {
        width: 12px;
        height: 9px;
    }

    .table-headers {
        display: none;
    }

    .table-rows {
        border: none;
    }

    .table-row {
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        padding: 0;
        margin-bottom: 1rem;
        border: 1px solid #D7DEE4;
        border-radius: 6px;
    }

    .action-tr-align, .account-tr-align, .score-tr-align {
        width: 100%
    }

    .action-tr {
        background: #F5FAFF;
        border-bottom: 1px solid #D7DEE4;
    }
    
    .action-tr, .score-tr {
        padding: 1rem 1.5rem;
    }

    .account-tr {
        padding: 1.7rem 1.5rem;
    }

    .score-data-align h6 {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: .5rem;
    }

    #important {
        margin-top: 2.125rem;
        
    }

    #disclaimer {
        margin-left: 0;
        font-size: 14px;
    }
}


